@import '../../customVariables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.newsBorder {
  border: 1px solid black !important;
}

@include media-breakpoint-down(xs) {
  .dsLinkTruncate {
    @include text-truncate();
    max-width: 150px;
  }
}

@include color-mode(dark) {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
}
